@{
    ViewData["Title"] = "Home Page";
}

@model EmployeeListModel

<a href="/Home/Add">Добавить работника</a>

<table>
    <thead>
    <tr class="row">
        <th class="column">Имя</th>
        <th class="column">Фамилия</th>
        <th class="column">Возраст</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employee in Model.EmployeeList)
    {
        <tr class="row">
            <td class="column">@employee.Name</td>
            <td class="column">@employee.Surname</td>
            <td class="column">@employee.Age</td> 
        </tr>
    }
    </tbody>
</table>

